#banner {
    height: 768px;
    background-image: url('./netflix-background.jpg');
    background-size: cover;
}

#shade {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

main {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}